.movie-card {
    margin-left: 10px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.movie-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.movie-info {
  padding: 10px;
  text-align: center;
}

.movie-info h3 {
  font-size: 1rem;
  margin: 0;
}
